<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Алгебра и геометрия</string>
		<string>Дискретная математика</string>
		<string>Математика</string>
	</array>
	<array>
		<string>Иностранный язык</string>
		<string>История</string>
		<string>История</string>
	</array>
	<array>
		<string>Программирование</string>
		<string>Физика</string>
		<string>Программирование</string>
		<string>Иностранный язык</string>
	</array>
	<array>
		<string>Физкультура</string>
		<string>Дискретная математика</string>
	</array>
	<array>
		<string>Физика</string>
		<string>Физика</string>
		<string>Инженерная графика</string>
		<string>Физкультура</string>
	</array>
	<array/>
</array>
</plist>
