<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Regular</key>
	<array>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>9:25</string>
			<key>End</key>
			<string>10:10</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>10:25</string>
			<key>End</key>
			<string>11:10</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>11:40</string>
			<key>End</key>
			<string>12:25</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>12:40</string>
			<key>End</key>
			<string>13:25</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>13:35</string>
			<key>End</key>
			<string>14:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>13:35</string>
			<key>End</key>
			<string>15:20</string>
		</dict>
	</array>
	<key>Short</key>
	<array>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>13:35</string>
			<key>End</key>
			<string>15:20</string>
		</dict>
	</array>
</dict>
</plist>
