<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Regular</key>
	<array>
		<dict>
			<key>Start</key>
			<string>09:00</string>
			<key>End</key>
			<string>10:35</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>10:45</string>
			<key>End</key>
			<string>12:20</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>12:50</string>
			<key>End</key>
			<string>14:25</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>14:35</string>
			<key>End</key>
			<string>16:10</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>16:20</string>
			<key>End</key>
			<string>17:55</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>18:00</string>
			<key>End</key>
			<string>21:20</string>
		</dict>
	</array>
	<key>Short</key>
	<array>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>8:30</string>
			<key>End</key>
			<string>9:15</string>
		</dict>
		<dict>
			<key>Start</key>
			<string>13:35</string>
			<key>End</key>
			<string>15:20</string>
		</dict>
	</array>
</dict>
</plist>
